<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    	hello, <%= name %> ，second后面的promise数据请求成功，但是渲染过程有延时，不能加载到第一次渲染的效果中来
	
	<% for(var i in list){%>
		<p class="pp"><%- list[i] %></p>
	<% }%>
    <button style="color:purple;" onclick="clickMe()">clickMe</button>
    <button style="color:purple;" onclick="reCord()">reCord</button>
    <button style="color:purple;" onclick="stopRecord()">stopRecord</button>
    <button style="color:purple;" onclick="playVoice()">playVoice</button>
    <button style="color:purple;" onclick="getNetworkType()">getNetworkType</button>
    <button style="color:purple;" onclick="openLocation()">openLocation</button>
    <button style="color:purple;" onclick="getLocation()">getLocation</button>
    <button style="color:purple;" onclick="scanQRCode()">scanQRCode</button>


</body>
<script src="http://www.jq22.com/jquery/jquery-2.1.1.js"></script>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="js/userList.js"></script>
</html>